@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #303030;
}

#logo {
  height: 40px;
  width: 115;
  float: left;
}

nav {
  width: 100%;
  height: 50px;
  background: linear-gradient(#444, #222);
  border-bottom: 1px solid #1b1b1b;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 0 1.25em rgba(0, 0, 0, .2);
  z-index: 10;
}

nav:nth-child(1) {
  padding-left: 25px;
}

.navlink {
  padding: 5px;
  padding-top: 12px;
  padding-left: 20px;
  color: white;
  font-size: 1.3em;
  float: right;
  font-family: 'Dancing Script', cursive;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  transition: 0.5s ease;
}

.navlink a:hover {
  transition: 0.5s ease;
  color: coral;
}

.domoForm {
  height: 35px;
  margin: autos;
  padding-top: 10px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.domoForm label {
  display: inline-block;
  width: 75px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em;
  float: left;
  color: white;
}

#title,
#idea,
#key,
#currentName,
#newPass {
  display: inline-block;
  width: 75px;
  margin-left: 10px;
  font-size: 1.2em;
  color: white;
  font-family: Montserrat, sans-serif;
}

.domoForm input[type=text] {
  float: left;
}

#domoLevel {
  float: left;
}

.makeDomoSubmit {
  transition: background-color 0.4s ease;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 1.2em;
  padding: 10px;
  margin-left: 20px;
}

.makeDomoSubmit:link,
.makeDomoSubmit:visited,
.makeDomoSubmit:hover,
.makeDomoSubmit:active {
  color: white;
}

.makeDomoSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: dimgrey;
}

.mainForm {
  height: 300px;
  width: 350px;
  margin: 0 auto;
  padding-top: 350px;
  font-size: 1.2em;
}

.mainForm h3 {
  text-align: center;
}

.mainForm label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
  font-size: 1.2em;
}

.formSubmit {
  transition: background-color 0.4s ease;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 1.2em;
  padding: 10px;
  margin-left: 20px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  width: 100px;
  padding: 3px 0px;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
  color: white;
}

.formSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: dimgrey;
}

#user,
#pass,
#pass2 {
  text-align: center;
  font-size: 1.1em;
  width: 180px;
  border-radius: 6px;
  font-family: Montserrat, sans-serif;
}

#user:focus,
#pass:focus,
#pass2:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #55acee;
}

#domoMessage {
  display: none;
  top: 250px;
  width: 250px;
  height: 650px;
  position: absolute;
  z-index: 200;
  right: 0px;
  overflow: hidden;
}

#domoMessage h3 {
  width: 200px;
  position: absolute;
  top: 0px;
  left: 20px;
}

#speech {
  height: 120px;
  width: 250px;
  z-index: 300;
}

#errorMessage {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
  font-style: italic;
}

#domo {
  z-index: 225;
  margin-top: -20px;
  margin-left: 135px;
  height: 450px;
  width: 300px;
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}

#domos {
  width: 40%;
  min-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  font-family: Montserrat, sans-serif;
}

.domo {
  width: 95%;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: grey;
  padding: 10px;
  min-height: 60px;
  overflow: hidden;
  color: white;
  transition: background-color 2.6s ease-out;
  font-family: Montserrat, sans-serif;
}

.domo:hover {
  transition: border-color 0.2s ease-out;
  border-color: rgba(255, 255, 255, 0.8);
  transition: background-color 2.6s ease-out;
  background-color: white;
  color: black;
}

img.domoFace {
  margin-left: 25px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  margin-top: 10px;
  float: left;
}

/* emptyArea */
h3.emptyDomo {
  width: 400px;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  margin-top: 18px;
  font-family: Montserrat, sans-serif;
  color: white;
}

/* Rename as ideaNoteName*/
h1.domoName {
  font-weight: bold;
  padding: 10px;
  font-size: 2em;
  text-align: center;
}

/* Rename as ideaNote */
h2.domoAge {
  float: left;
  text-align: left;
  padding: 40px;
  font-size: 1.5em;
}

h3.domoLevel {
  text-align: left;
  font-size: 1em;
  padding: 40px;
}

.domo:first-child {
  margin-top: 10px;
}

.domo:last-child {
  margin-bottom: 10px;
}

/* Ad */
#ad {
  border-radius: 8px;
  margin: 50px;
  text-align: center;
}

/* Support Page */
#passwordInfo {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

#getRid {
  font-family: 'Dancing Script', cursive;
  font-size: 75;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

#change,
#adFront {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 20px;
  float: left;
}

#oldPass,
#newPass,
#newPass2 {
  text-align: center;
  width: 180px;
  border-radius: 6px;
  font-family: Montserrat, sans-serif;
  float: right;
  margin: auto;
  color: black;
  font-size:  16px;
}

.changePassword,
.adSubmit {
  transition: background-color 0.4s ease;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px;
  margin-left: 20px;
  float: right;
}

.changePassword:link,
.changePassword:visited,
.changePassword:hover,
.changePassword:active {
  color: white;
}

.changePassword:hover {
  transition: background-color 0.4s ease;
  background-color: dimgrey;
}

#changeForm {
  padding: 20px;
  margin: 20px;
  display: block;
}

#passwordContainer,
#adContainer {
  padding: 20px;
  margin: 20px;
}

.fakeButton {
  transition: background-color 0.4s ease;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 1.2em;
  padding: 10px;
  margin-left: 20px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  width: 100px;
  padding: 3px 0px;
}

.fakeButton:link,
.fakeButton:visited,
.fakeButton:hover,
.fakeButton:active {
  color: white;
}

.fakeButton:hover {
  transition: background-color 0.4s ease;
  background-color: dimgrey;
}